<a href="https://colab.research.google.com/github/mehrnaz1368/classification/blob/main/Recommandation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [134]:
import pandas as pd
import numpy as np
from math import sqrt
import matplotlib.pyplot as plt

In [119]:
movies_df=pd.read_csv('movies.csv')
ratings_df=pd.read_csv('ratings.csv')

In [100]:
print(movies_df.head())

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

# we want to move year in "title" column to another column
so we have to use regex(regular expression)

In [101]:
movies_df['year']=movies_df.title.str.extract('(\(\d\d\d\d\))', expand=False)
movies_df['year']= movies_df.year.str.extract('(\d\d\d\d)', expand=False)
movies_df['title']=movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df['title']=movies_df['title'].apply(lambda x: x.strip())

<ipython-input-101-bf6b303373c8>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_df['title']=movies_df.title.str.replace('(\(\d\d\d\d\))', '')

In [102]:
print(movies_df.head())

   movieId                        title  \
0        1                    Toy Story
1        2                      Jumanji
2        3             Grumpier Old Men
3        4            Waiting to Exhale
4        5  Father of the Bride Part II

                                        genres  year
0  Adventure|Animation|Children|Comedy|Fantasy  1995
1                   Adventure|Children|Fantasy  1995
2                               Comedy|Romance  1995
3                         Comedy|Drama|Romance  1995
4                                       Comedy  1995

#split the values in the genres column into a list of genres

In [103]:
movies_df['genres']=movies_df.genres.str.split('|')
print(movies_df.head())

   movieId                        title  \
0        1                    Toy Story
1        2                      Jumanji
2        3             Grumpier Old Men
3        4            Waiting to Exhale
4        5  Father of the Bride Part II

                                              genres  year
0  [Adventure, Animation, Children, Comedy, Fantasy]  1995
1                     [Adventure, Children, Fantasy]  1995
2                                  [Comedy, Romance]  1995
3                           [Comedy, Drama, Romance]  1995
4                                           [Comedy]  1995

# if the film has this genres shows 1 if doesnot have shows 0

In [109]:
movies_df= movies_df.copy()
for index, row in movies_df.iterrows():
  for genres in row['genres']:
    movies_df.at[index, genres]=1
    movies_df=movies_df.fillna(0)

In [110]:
movies_df.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [127]:
ratings_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

#we want to merge inputId and inputMovies

In [132]:
userInput = [{'title': 'Breakfast Club, The', 'rating':5},
 {'title': 'Toy Story', 'rating':3.5},
             {'title': 'Jumanji', 'rating':2},
              {'title': "Pulp Fiction", 'rating':5},
              {'title':'Akira', 'rating':4.5}]

In [139]:
inputmovies=pd.DataFrame(userInput)
inputmovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

#we want to add movieId to input user

In [150]:
inputId = movies_df[movies_df['title'].isin(inputmovies['title'].tolist())]
inputMovies = pd.merge(inputId, inputMovies)
inputMovies=inputMovies.drop('genres', 1)
inputMovies

<ipython-input-150-78175f83ab2b>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputMovies=inputMovies.drop('genres', 1)

Empty DataFrame
Columns: [movieId, title, rating]
Index: []